/* 
    Created on : 2016-01-07, 15:40:33
    Author     : Krzysztof Proczek <proczekweb@gmail.com>
*/

html {
    background:red;
    body {
        font-family: red;
        
        h1 {
            color: yellow;
        }
    }
}